/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Michroma&family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');


/* Reset styles */
* {
    font-family: 'Maven Pro', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden!important;
    overflow-y: auto;
}



/* Footer styles */
footer {
    background-color: white;
    color: #333;
    height: 30px;
}

footer p{
    float: right;
    margin-top: 10px;
}

.mainContainer{
    max-width: 100% !important;
}

.firstPart{
    background-image: url("../images/stool.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 400px;
}

#welcomeText{
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Playfair Display', serif !important;
}




#categoryButton{
    padding: 8px;
    margin-right: 30px;
    max-font-size: 40px;
    margin-top: 5px;
    max-width: 150px;
    max-height: 70px;
    background: #000001;
    color: #ffffff;
    line-height: normal;
}

#contactButton{
    margin-right: 30px;
    padding: 8px;
    margin-top: 20px;
    max-height: 70px;
    background: #ffffff;
    color: #000001;
    line-height: normal;
}

.CollectionContainer{
    background: white;
    display: flex;
    justify-content: center;
    margin: 0 50px 0 50px;
}

.CollectionContainer *{
    margin-top: 50px;
    margin-right: 20px;
}

.collectionText {
    width: 300px;
    margin: auto;
}

#lineBettweenText{
    margin-top: 15px;
    width: 150px;
    height: 5px;
    background: #ab8d6f;
}
#sidebar {
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 70px;
    right: -250px;
    width: 250px;
    height: 82%;
    background-color: #eeeeee;
    transition: right 0.5s ease-in-out;
}

#sidebar h3 {
    margin-top: 0;
    text-align: center;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidebar a {
    text-decoration: none;
    color: #333;
}

#sidebar ul li a:hover {
    padding: 10px;
    background: #000001;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: 10px;
    flex-basis: calc(20.33% - 208px);
}

#logoNav{
    margin-top: 10px;
}

#sidebar-btn {
    background: black;
    color: white;
    float: right;
    border: 1px solid;
    cursor: pointer;
    font-size: 15px;
    width: 150px;
    height: 40px;
}

#logo{
    margin-top: 15px;
    max-width: 100px;
}
.navbar-brand{
    padding-left: 20px;
}

/*smaller screens*/
@media screen and (max-width: 480px) {
     #welcomeText{
         font-size: 3.5vw;
         width: 50%;
         background: whitesmoke;
         opacity: 80%;
     }
    #welcomeText h1{
        font-size: 1.3rem;
    }

    #categoryButton{
        margin-right: 0;
        font-size: 0.7rem;
        max-width: 120px;
        height: 30px;
        margin-top: 20px;
        background: #000001;
        color: #ffffff;
        line-height: normal;
    }

    #contactButton{
        margin-right: 0;
        font-size: 0.7rem;
        max-width: 120px;
        height: 30px;
        margin-top: 20px;
        background: #ffffff;
        color: #000001;
        line-height: normal;

    }

    .image-container *{
        max-width: 200px;
        max-height: 200px;
        text-align: center;
    }

    .collectionText{
        margin: auto;
    }

    #lineBettweenText{
        width: 170px;
        margin-left: 56px;
    }

    .image-container{
        display: grid;
        grid-template-columns: 1fr ;
        margin: 0;
        justify-items: center;
    }

    .CollectionContainer{
        height: 100%;
        text-align: center;
        flex-direction: column;
    }

    footer{
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }

    .firstPart{
        background-position: -28.5rem;
    }
    .categoryBar{
        display: none;
        z-index: 10000;
    }
    .categoryList{
        display: flex;
        flex-direction: column;
    }
    .closeCategoryBar{
        display: inline-block;
    }
    .closeCategoryBar:hover{
        height: 40px;
    }
}

/*Mid screens*/
@media screen and (min-width: 480px) and (max-width: 760px){
    #welcomeText{
        font-size: 2.2vw;
    }

    #welcomeText button{
        margin: auto;
        margin-top: 5px;
    }
    .CollectionContainer{
        display: flex;
        flex-direction: column;
    }

    .image-container{
        display: flex;
        flex-direction: column;
    }
}

/*Category bar*/
.categoryBar{
    max-width: 800px;
    background: whitesmoke;
    opacity: 80%;
    min-height: 400px;
    position: absolute;
    right: -1500px;
    transition: ease-in 800ms;
    overflow-y: hidden;
    font-size: 0.8rem;
}

.closeCategoryBar{
    color: gray;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 0 8px 0 8px;
    text-align: justify;
}

.closeCategoryBar:hover{
    background: rgba(173, 216, 230, 0.82);
}

.categoryList{
    gap: 20px;
}

.categoryLinks{
    text-decoration: none;
    color: black;
    font-weight: 550;
    cursor: pointer;
    text-align: justify-all;
}
.subcategory{
    flex-direction: column;
    margin-left: 10px;
    padding: 0;
}


